button {
    width: 100px;
    height: 40px;
    background-color:mediumblue ;
    color: white;
    border: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#bt3 {
    background-color: green;
}

#bt3:hover {
    background-color: mediumblue;
}

button:hover {
    background-color:green;
    color: white;
    cursor:help;
}

h2 {
    color: blue;
}